html, body {
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Cootstrap components customization */
.btn {
  height: 37px;
}

.btn-primary {
  background-color: #233876;
  border-color: #233876;

  font-weight: 500;
}

.btn-primary:disabled {
  background-color: #233876;
  border-color: #233876;
}

.form-control:invalid, .invalid-feedback{
  border-color: #F98080 !important;
  color: #F98080 !important;
  background-image: none !important;
}

input {
  height: 48px;
}

p {
  margin: 0;
}