html, body {
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-control {
  background-image: none !important;
}

.invalid-feedback{
  /* border-color: #F98080 !important; */
  color: #F98080 !important;
  /* background-image: none !important; */
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #F98080 !important;
  color: #F98080 !important;
}

input {
  height: 48px;
}

p {
  margin: 0;
}