html, body {
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Cootstrap components customization */
.btn {
  height: 37px;
}

.btn-primary {
  background-color: #233876;
  border-color: #233876;

  font-weight: 500;
}

.btn-outline-secondary {
  color: #1F2A37;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #F98080;
  --bs-btn-border-color: #F98080;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b85f5f;
  --bs-btn-hover-border-color: #b85f5f;
  --bs-btn-focus-shadow-rgb: 225,83,97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b85f5f;
  --bs-btn-active-border-color: rgb(184, 46, 60);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #F98080;
  --bs-btn-disabled-border-color: #F98080;
}

.btn-primary:disabled {
  background-color: #233876;
  border-color: #233876;
}

.form-control {
  background-image: none !important;
}

.invalid-feedback{
  /* border-color: #F98080 !important; */
  color: #F98080 !important;
  /* background-image: none !important; */
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #F98080 !important;
  color: #F98080 !important;
}

input {
  height: 48px;
}

p {
  margin: 0;
}